{% extends "base.html" %}
{% load static %}
<!doctype html>
<html lang="en">

    {% block content %}
        <div class="container">
            <h1 class="text-center text-white" id="id_title">Hello, apa kabar?</h1>
            <div class="row">
                <div class="col-sm-6">
                    <form class="form-group" action="{% url 'lab_6:index' %}" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn btn-primary" value="Post" id="id_submit">
                    </form>
                    <a href="{% url 'lab_6:delete' %}" class="btn btn-danger" id="id_delete">Delete All</a>
                </div>
                <div class="col-sm-6">
                    <br>
                    {% for status in statuses %}
                        <div class="status rounded">
                            <h5>{{ status.date }}</h3>
                            <p>{{ status.status }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endblock %}

</body>
</html>