body{
    background: url('https://blog.visme.co/wp-content/uploads/2017/07/50-Beautiful-and-Minimalist-Presentation-Backgrounds-031.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding-top: 50px;
    padding-bottom: 50px;
}

h1 {
    padding-bottom: 20px;
}

p {
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;

}

.status {
    background-color:#00d3ff;
}

#resize-img {
    width: 280px;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("https://gifimage.net/wp-content/uploads/2017/10/colorful-loader-gif-transparent-13.gif") center no-repeat #fff;
}
